html 
    head 
        title= "A11-1: Mad Libs"
        style(type="text/css").
            body {
                background-color: #F0F8FF;
                font-family: "Times New Roman", Times, serif;
                font-size: 20px;
            }
            h1 {
                text-align: center;
                font-size: 50px;
                color: darkblue;
                text-decoration: underline;
            }
            p {
                text-indent: 25px;
            }
    body
        h1 "The Great Challenge"
        p.
            Once upon a time in a #{adjective1} land, there lived a #{noun1} named #{name}. #{name} was known throught the
            #{adjective2} kingdom for their extraordinary #{noun2} skills. One day, a #{adjective3} #{noun3} descended from the mountains
            and issued a challenge to #{name}. The challenge was to #{verb1} the #{noun4} of #{noun5} and bring it back to the #{adjective2} kingdom.
            Without hesitation, #{name} set off on their #{adjective4} adventure. Along the way, they encountered a #{noun6} who offered #{name}
            a #{noun7} that would help them #{verb1} the #{noun4}. With the #{noun7} in hand, #{name} continued their journey, facing many obstacles and 
            making #{adjective5} friends.
        p.
            After a long and #{adjective6} journey, #{name} finally reached the #{noun4} of #{noun5}, where they #{verb1} the #{noun4} and triumphantly returned 
            it to the #{adjective2} kingdom, bringing #{adjective7} joy to all. And so, #{name}'s #{adjective8} adventure came to and end, but their persistent spirit
            and #{noun2} skills continued to inspire generations to come.